<mat-card>
        <button (click)="resetItemsCheck()" mat-raised-button color="primary">Reset Checklist</button>
        <mat-list>    
    <mat-list-item *ngFor="let item of svc.getItems(); trackBy: trackByIndex">
<app-checklist-item 
[id]="item.id" [itemChecked]="item.checked" [itemContent]="item.content"></app-checklist-item>
    </mat-list-item>
</mat-list>
<mat-form-field id="checklist-input-field">
        <input [(ngModel)]="this.printSvc.title" type="text" placeholder="Description for printing" matInput />
    </mat-form-field>
<button (click)="printChecklist()" mat-raised-button color="primary">Print</button>

</mat-card>
